
/*TYPOGRAPHY*/

#topRow{
    color:white;
}

#logo{
    font-family: 'Pacifico', cursive;
    text-transform: none;
    font-size: 60px;
    color: #458782;
}

h1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 0px;
    letter-spacing: 3px;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 130px;
    margin-top: 5px;
    letter-spacing: 2px;
}

h3{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 25px;
    margin-top:5px;
    letter-spacing: 2px;
}

.fa{
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 50px;

}

.wi{
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 40px;

}

.nav{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    color: cornflowerblue;
}

#plus{
    font-size: 45px;
    color: cornflowerblue;
}

.fa{
    color: white;
}

#submit {
    border-color: 0;
    border: 0;
    background-color: #458782;
    border-radius: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1px;
    color: white;
}

/* Containers */

/*body{
    background-image: url("../images/background.jpg");
}*/

.container{
    margin-top: 40px;
}

#topRow {
    margin-top: 0px;
    margin-bottom:10px;
}

.thumbnail {
    border-radius: 10px;
    padding-bottom: 20px;
    background-color: cornflowerblue;
    box-shadow: 1px 4px 6px #888888;
    
}

.navbar{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}

.card{
    margin-bottom: 10px; 
}

ul > li {
    margin-right: 15px;
}

body{
    background-color: white;
}

#remove{
    padding-top: 10px;
    padding-right: 10px;
    font-size: 22px;
}

#collapsedSubmit{
    border: 0;
    border-color: white;
}

.navbar-form{
    border: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1px;
}